@model List<GerenciadorComprasPublicas.Models.ViewModels.PlanejamentoAnualViewModel>

<div class="card-main">
    <h1 class="mb-4">Bem vindo(a)!</h1>
    <div class="row">
        <div class="col-6 col-md-3 mb-3">
            <a asp-area="" asp-controller="Planejamento" asp-action="Create" class="btn btn-custom w-100">
                <i class="bi bi-plus-circle"></i> Novo planejamento
            </a>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <a class="btn btn-custom w-100">
                <i class="bi bi-file-earmark-arrow-up"></i> Importar planejamento
            </a>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <a class="btn btn-custom w-100">
                <i class="bi bi-view-list"></i> Ver mais planejamentos
            </a>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <a class="btn btn-custom w-100">
                <i class="bi bi-gear"></i> Configurações
            </a>
        </div>
    </div>
</div>

<div class="card-main">
    <h2>Últimos planos anuais adicionados</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Secretaria</th>
                <th>Ano</th>
                <th>Data de Criação</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var planejamento in Model)
            {
                <tr>
                    <td>@planejamento.SecretariaNome</td>
                    <td>@planejamento.Ano</td>
                    <td>@planejamento.DataCriacao.ToShortDateString()</td>
                    <td>@planejamento.Descricao</td>
                    <td>
                        <a asp-controller="Planejamento" asp-action="Details" asp-route-id="@planejamento.Id" class="btn btn-primary">Detalhes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>